  /* Estilos cuando esta en la parte superior */
  .nav-animation {
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  /* Estilos cuando se hace scroll */
  .nav-animation.scrolled {
    background-color: rgba(255, 255, 255, 1); /* Fondo blanco sólido en modo claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave en modo claro */
  }
  
  .dark .nav-animation.scrolled {
    background-color: rgba(31, 41, 55, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  