/* Estilos para el modo claro */
body {
  background-color: #f7fafc; /* bg-gray-50 */
  color: #1a202c; /* text-black */
}

/* Estilos para el modo oscuro usando la clase .dark en el html */
html.dark body {
  background-color: rgb(17, 24, 39); /* bg-gray-900 */
  color: #e2e8f0; /* text-white */
}